version: 2.1

jobs:
  deploy:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
      - run:
          name: Verify Deno installation
          command: deno --version
      - run:
          name: Run Deno
          command: deno run --allow-net=api.notion.com --allow-env https://deno.land/x/automonth@v.1.0.1/src/main.ts
          environment:
            NOTION_TOKEN: $NOTION_TOKEN
            DATABASE_PAGE: $DATABASE_ID
